.calendar {
    margin-top: 20px;
}

.styled-calendar-container {
    margin-top: 10px;
    width: 90% !important;
    min-height: 45em;
}

@media only screen and (max-width: 600px) {
    .styled-calendar-container {
        min-height: 25em;
    }
}