.home{

}
.home_section{
    padding-top:2rem;
    padding-bottom:4rem;
}
.social_section{
   margin-top: 2.4rem;
}

.home_section_heading {
    margin-bottom: 3rem;
    font-size: 2.5rem;

}
.home_section_content{
    margin-top: 2rem; 
}
.text_content{
    color: #656565;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.15rem;
}

.home_section_content_img{
    width:80%;
    margin: 4rem auto;
    text-align: center;
    padding: 2rem 0;
}

.home_section_content_btn{
    padding: 0.3rem 3rem;
    font-size: 1.5rem;
}

.home_black_verticle_line{
    width: 7px;
    background: #000000;
    border-radius: 2px;
    margin-top: .4rem;
    height:70%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.home_social_img_col{
    margin-bottom: 1rem;
}

.home_social_img{
    max-width: 6rem;
}

.home_card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 1rem;
    border:none;
    border-radius: 2rem;
    border-color: transparent;
    min-height: 50vh;
    fill-opacity: 2rem;
}
/* .home_card{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url('');

filter: drop-shadow(2px 4px 8px rgba(10, 10, 10, 0.08));


    flex: none;
    order: 0;
    align-self: stretch;
flex-grow: 1;
} */
.card_1{
    filter: blur(0px);
    color:white;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.card_2{
    color:white;
    background-color: #233329;
background-image: linear-gradient(326deg, #233329 0%, #63D471 74%);


}

.card_3{
    color:white;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    
}

.card_content{
    opacity: 1 !important;
}