.logo {
  float: left;
  width: 120px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.navbar__nav-item {
  color: black;
  margin-right: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
